.body {
    background-color: lightgrey;
    text-align: center;
}

#footer {
    background-color: black;
    color: white;
}

#project, #homework {
    font-size: large;
    text-align: center;
    margin: 20px;
}

.profilePic {
    height: 200px;
    width: 300px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.header {
    text-align: center;
}